
:root {
  --main-bg-color: #111827 !important;
}

body {
  background-color: var(--main-bg-color) !important;
  color: #fff !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

input::placeholder {
  color: #fff !important;
}

textarea::placeholder {
  color: #fff !important;

}
//offcanvas styling

$offcanvas-horizontal-width: 200px;

.offcanvas {
  bottom: auto !important;
  border-radius: 0px 0px 0px 10px !important;
  background-color: var(--main-bg-color) !important;
}

//nav styling fixed

.nav-styling {
 position: fixed;
 top: 0;
 background-color: rgba(0, 0, 0, 0.4);
 backdrop-filter: 'blur(4px)';
}

//link hover effect

.link-hover {
  display: inline-block;
  position: relative;
  cursor: pointer; 

}

.link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-in;
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// hero section styling

.hero-banner {
  background-image: url("../assets/milad-fakurian-JTKKRK05NAM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}


.text-box {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  max-width: 550px;
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .hero-banner {
    height: 80vh;
  }

  .text-box {
    padding: 2rem;
    max-width: 100%;
  }
}

.btn-custom {
  background-color: #b45309 !important;
  border-color: #b45309 !important;
  color: #fff !important;
}


//card styling
/*
.custom-card-styling {
  border: 2px solid #455d58 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card-styling:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20) !important;
}
*/


@import '../../node_modules/bootstrap/scss/bootstrap.scss';